#headerCarrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carrinhoContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#produtosAdicionados{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
